<%- include("partials/header"); -%>
    <h1>About</h1>
    <p> <%= aboutContent %> </p>
    <img src="C:\Users\RUSHALI KHILRANI\Desktop\Blog-With-Database-final\public\projimg.jpeg">

<%- include("partials/footer"); -%>
